@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  font-family: 'Poppins';
}
input::placeholder{
  color: white;
}
@layer utilities{
  @font-face {
    font-family: 'Digital Numbers';
    src: url("./assets/digital-numbers-cufonfonts/DigitalNumbers-Regular.ttf");
  }
  .font-face-digi{
    font-family: 'Digital Numbers';
    color: rgb(115, 115, 255);
  }
  .bg-cwivel-green{
    background-color: rgba(37, 190, 90, 1);
  }
  .text-cwivel{
    color: rgba(37, 190, 90, 1);
  }
  .activepage{
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-bottom-width: 3px;
    border-color: white;
    color: white;
  }
  .leading-11{
    line-height: 4.0rem !important;
  }
  .border-me{
    border-width: 1px;
  }
  .border-cwivel{
    border-color: rgba(37, 190, 90, 1);
  }
  .h-unit{
    height: 10px;
  }
  .blight{
    background-color: rgba(129, 117, 96, 0.282);
  }
  .global-class-name{
    vertical-align: middle;
  }
  ul{
    list-style: none;
    
  }
  ul > li.list::before{
    content: "\2022";
    color: rgba(37, 190, 90, 1);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 0.1em;
  }
  .w-fuller{
    width: 100%;
    padding: 0;
  }
  .cn:hover{
    box-shadow: 1px 1px 1px 1px rgba(85, 85, 85, 0.801);
  }
  .active{
    border-bottom: 1px;
    border-color: white;
    color: white;
  }
}